@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Montserrat:wght@500&family=Roboto:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Dongle, Montserrat;
}
.develop {
  display: flex;
  flex-direction: column;
}
/* navbar section start */
nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
}
  
.responsive{
    width: 100%;
    height: auto;
}

.menu{
  list-style-type: none;
 display: flex;
 flex-basis: 60%;
 justify-content: flex-end;
}
.menu li {
    display: inline;
    padding: 15px 15px;  
}
.menu a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: rgba(12, 23, 83, 255);
  font-size: 7vh;
}
.menu a:hover {
    color: rgba(0,166,156,255);
}

/* navbar section end */

/*-----------------------------------------------------------------------------*/

/* header section start */
header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 30px;
    background: linear-gradient( rgba(118,123,160,255),rgba(187,171,248,255));
}
.hdr-image{
   max-width: 50%;
   margin-bottom: 5%;
}
.hdr-text{
    max-width: 50%;
    color: white;
 margin-left: 30px; 
}
.hdr-text h3{
    font-size: 15vh;
    line-height: 10vh;  
    font-weight: 400;
}
.hdr-text p{
  max-width: 60%;  
    font-size: 6vh;  
    line-height: 5vh;
    font-weight: 200;
}
.hdr-text .btn{
  font-size:12vh;
line-height: 8vh;
letter-spacing: 1px;
padding: 5px 60px;
color: rgba(0,166,156,255);
border:unset;
border-radius: 10px;
background-color: rgba(255,225,1,255);
transition: all 0.3s ease 0s;
box-shadow: 0 4px 3px rgba(0,0,0,0.20);
margin-left: 25%;
text-align: center;
}
/* header section end */

/*-----------------------------------------------------------------------------*/
/* card section start */
.card-container{
display: block;
background-color: rgba(245,242,255,255);
}
.card-h{
  max-width: 100%;
background-color: white;
 padding: 3% 0;
 text-align: center;
}

.card-h h3{
  font-size: 15vh;
  line-height: 10vh;  
  font-weight: 400;
  color: rgba(0,166,156,255);
}
.card-part{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3%;
  background-color: rgba(245,242,255,255);
  padding: 3% 0;
}
.card{
width: 300px;
height:300px;
  background-color: white;
 text-align: center;
  padding-top: 3%;
  display: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  margin: 20px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.30);
}
.card:hover{
  transform: scale(1.10);
}
.card-image{
 max-width: 40%;
 background-color: rgba(254,229,82,255);
  border-radius: 50%;
  padding: 5%;
 margin-left:30%;
margin-bottom: 10%;
}

.card-image img{
  max-width: 90%;
  height: auto;
  background-color: rgba(254,229,82,255);
  
}
.card-text{
  max-width: 100%;
  font-size: 10vh;
  margin-top: 10%;

}

/* card section end */

/*-----------------------------------------------------------------------------*/

/* features section start */
.features-container{
  max-width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
}
.features{
  max-width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  gap: 10%;
}
.features-image{
max-width: 35%;
margin: 3%;
}
.features-text{
  max-width: 45%;
}
.features-text h3{
  color:rgba(0,166,156,255);
font-size: 7vh;
font-weight: 200;
}
.features-text p{
  font-size: 4vh;  
  line-height: 6vh;
}

.features-text ul{
  font-size: 3vh;
  line-height: 4vh;
  padding-left: 5%;
  font-weight: 100;}
  .features-text ol{
    font-size: 3vh;
    line-height: 4vh;
    padding-left: 5%;
    font-weight: 100;}
/* features section end */

/*-----------------------------------------------------------------------------*/

/* form section start */
.form-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  height: auto;
  gap: 5%;
  padding: 3%;
  background-color: rgba(12,23,83,255);
}
.form-text{
  flex-basis: 20%;
  height: auto;
 text-align: start;
 font-size: 7vh;
 font-weight: 200;
 color: white;
}
.form-text h3{
  height: auto;
  font-size: 10vh;
  line-height: 9vh;
  font-weight: 200;
  color: white;
}
form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 flex-basis: 50%;
}
form .replay p{
width: 100%;
color: white;
font-size: 6vh;
line-height: 5vh;
font-weight:100;
}
  .full-name{
 width: 48%;
 height: auto;
  margin: 1%;
}
.size{
  width: 100%;
  height: auto;
  border-radius: 6px ;
  border: unset;
  font-size: 5vh; 
}

.city{
  width: 48%; 
  margin: 1%;
}
 form .email{
  width: 100%;
  margin: 1%;
}
.subject{
  width: 100%;
  margin: 1%;
}
.message{
  width: 100%;
  margin: 1%;
}
.sub-btn{
width: 100%;
  margin: 1%;
}
#submit{
  background-color: rgba(255,225,1,255);
  font-size: 7vh; 
  transition: all 0.3s ease 0s; 
  scale: pointer;
}
#submit:hover{
  transform: scale(1.10);
}
/* form section end */

/*-----------------------------------------------------------------------------*/

/* footer section start */
footer{
  max-width:100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.row{
  max-width:100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;
  gap: 1%;
}
.footer-col{
  width: 24%;
  height: auto;
  font-size: 8vh;
  font-weight: 100;
  color: rgba(12, 23, 83, 255);

}
.footer-col img{
  padding: 3%;
  margin-top: 4%;
}
.footer-col li{
  padding-left: 5%;
  list-style: none;
  line-height: 6vh;
}
.footer-col a{
  text-decoration: none;
  font-size: 6vh;
  text-transform: uppercase;
  color: rgba(12, 23, 83, 255);
  transition: all 0.3s ease;
}
.footer-col a:hover{
  color:rgba(0,166,156,255);
  padding-left: 5%;
}

.footer-col i{
  margin: 2%;
  width: 20%;
}

.copyright{
display: flex;
flex-wrap: wrap;
justify-content: center;
background: linear-gradient( rgba(118,123,160,255),rgba(187,171,248,255));
font-size: 6vh;
text-align:center;
padding: 1%;
color: white;
}

.copyright span{
  color:rgba(12,23,83,255);
}
/* footer section end*/

/*-----------------------------------------------------------------------------*/

/* media query section start */
@media (max-width:1200px){
header{
  display: block;
 
}
.hdr-text{
  max-width: 100%;
  text-align: center;
  margin: 0;
 }

.hdr-text p{
  max-width: 100%;  
  text-align: center;
  margin: 3%;
}
.hdr-text .btn{
margin-left: 0;
}

.hdr-image{
  max-width: 100%;
 margin-top: 3%;
}
.features{
display: block;
justify-content: center;
}
.features-image{
  max-width: 100%;
  }
  .features-text{
    max-width: 100%;
    text-align: center;
  }

  .features-text ul{
    text-align:start;

  }
  
  .features-text ol{
    text-align:start;

  }
  .form-container{
    display: block;
    justify-content: center;
  }

  .form-text{
    text-align: center;
    flex-basis: 100%;
  }
form{
  justify-content: center;}
  form .replay p{
    text-align: center;
  }
}

@media(max-width:768px){
  .menu{
    flex-basis: 100%;
 justify-content: center;
 text-align: center;
  }
  .hdr-text h3{
    font-size: 8vh;
  }
  .card{
    width: 250px;
    height:250px;}
  .card-h h3{
    font-size: 8vh;
  }
  .card-text{
    font-size: 6vh;
  }
  .full-name{
    width: 100%;}
    .city{
width: 100%;
    }
    .row{
      display: block;
    }
    .footer-col{
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 6vh;
    }
}
/* media query section end*/
